.badge {
  padding: 6px 13px;
  border-radius: 10px;
  background: #c5ff981a;
  color: #c5ff98;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  max-width: fit-content;
}
