.burger-menu {
  z-index: 30;
  position: absolute;
  background: $Main-BG;
  padding: 15px;
  width: 100vw;
  height: 101vh;
  box-sizing: border-box;
  top: 0px;
  display: none;

  &.active {
    display: block;
    animation: showBurger 200ms ease-in-out;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: fit-content;
    margin-bottom: 20px;
  }

  .close-button {
    background: none;
    border: none;
    padding: 0px;

    img {
      filter: invert(90%) sepia(11%) saturate(220%) hue-rotate(170deg)
        brightness(92%) contrast(90%);
    }
  }

  .socialsLinks {
    position: absolute;
    bottom: 30px;
  }
}

.burger-button {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  position: relative;
  width: 14px;
  height: 15px;
  padding: 0px;
  &__line {
    width: 14px;
    height: 1.5px;
    margin-bottom: 3px;
    background-color: $Text;
    justify-self: end;
    border-radius: 10px;
    &:first-child {
      width: 7px;
    }
    &:last-child {
      width: 10px;
      margin-bottom: 0px;
    }
  }
}

@keyframes showBurger {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
