.nft-orders {
  &__item,
  &__header {
    display: grid;
    grid-template-columns: 1.2fr 1.6fr 1.4fr 0.7fr;
    align-items: center;
    gap: 10px;
  }
  &__header {
    margin: 0 0 20px;
    & .name {
      padding: 0 0 0 16px;
    }
  }
  &__item-title {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    gap: 20px;
    font-size: 16px;
    line-height: 28px;
    img {
      width: 31.46px;
      height: 32px;
      border-radius: 100%;
    }
  }
  &__wallet-wrap {
    background: #212426;
    border-radius: 13px;
    padding: 14px 50px 14px 18px;
    font-weight: 700;
    line-height: 20px;
    width: 90%;
    position: relative;
    overflow: hidden;
  }
  &__wallet-icon-wrap {
    background: #212426;
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__copy-icon {
    position: absolute;
    width: 14px;
    height: 16px;
    right: 20px;
    top: calc(50% - 8px);
    background: #212426;
  }

  &__item-buy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
  }
  &__item-status {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    background: rgba(197, 255, 152, 0.1);
    border-radius: 10px;
    color: #c5ff98;
    padding: 6px 22px;
    max-width: 103px;
    text-align: center;
  }
  &__item-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
  }
  &__item-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #c8d2dc;
    &._mobile {
      display: none;
    }
  }
}

@media (max-width: 1220px) {
  .nft-orders {
    &__item {
      grid-template-columns: 1.1fr 2fr 1.4fr;
    }
    &__title {
      display: block;
    }
    &__header {
      display: none;
    }
    &__item-title {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding: 0 0 0 50px;
      gap: 0;
      img {
        position: absolute;
        left: 10px;
        top: calc(50% - 16px);
      }
    }
    &__item-date {
      font-size: 14px;
      line-height: 22px;
      &._mobile {
        display: block;
      }
      &._pc {
        display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .nft-orders {
    & .table-item {
      gap: 0;
      margin: 0;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 13px 10px;
    }
    &__item {
      padding: 17px 19px 17px 18px;
      grid-template-columns: 1fr;
    }
    &__item-title {
      font-weight: 600;
      line-height: 21px;
      font-size: 16px;
      padding: 0 0 17px 46px;
      position: relative;
      border-bottom: 1px solid rgba(228, 228, 228, 0.05);
      img {
        left: 0px;
        top: calc(50% - 26px);
      }
    }
    &__item-wallet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(228, 228, 228, 0.05);
      padding: 10px 0 11px;
      &::before {
        content: 'Adress';
        display: block;
      }
    }
    &__wallet-wrap {
      width: 48.05%;
      padding: 7px 11px 7px 11px;
      border-radius: 8px;
      margin: 0 5px 0 0;
      & .wallet {
        max-width: 105px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        font-size: 12px;
        line-height: 20px;
      }
    }
    &__wallet-icon-wrap {
      width: 35px;
    }
    &__copy-icon {
      right: 13px;
      width: 10px;
      height: 11px;
    }
    &__item-buy {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      gap: 15px;
    }
    &__item-price {
      padding: 11px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &::before {
        content: 'Price';
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
      }
    }
    &__item-status {
      width: 100%;
      max-width: 100%;
    }
  }
}
