.table-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 28px 14px;
}

.table-item {
  background: #1d1f21;
  border-radius: 14px;
  min-height: 90px;
  margin: 0 0 8px;
  padding: 5px;
  &:last-child {
    margin: 0;
  }
}

.orders {
  &__title {
    display: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 10px;
    &._stat {
      margin: 0 0 8px;
    }
  }
  &__header {
    display: grid;
    grid-template-columns:
      minmax(342px, 2fr) minmax(100px, 1fr) minmax(350px, 2fr)
      minmax(80px, 147px);
    gap: 15px;
    padding: 0 5px;
    margin: 0 0 20px 0;
  }
}

.item-order {
  display: grid;
  grid-template-columns:
    minmax(342px, 2fr) minmax(100px, 1fr) minmax(350px, 2fr)
    minmax(80px, 147px);
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  &__header,
  &__info {
    display: flex;
    align-items: center;
  }
  &__color {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 auto;
  }
  &__header {
    display: grid;
    grid-template-columns: 110px 33px 1fr;
    &-title {
      padding: 0 14px 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
    }
    &-mail {
      margin: 0 0 0 20px;
      font-weight: 600;
      line-height: 21px;
    }
  }
  &__size {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    & .info-text {
      font-size: 12px;
      line-height: 18px;
    }
    & .info-title {
      display: none;
      font-weight: 400;
      line-height: 14px;
      font-size: 12px;
      font-weight: 600;
    }
    & .more-link {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: #86a8ff;
      &:hover {
        text-shadow: 0 0 1px #fff;
      }
    }
  }
  &__button-wrap {
    padding: 0 15px 0 0;
  }
  &__btn {
    border-radius: 8px;
    font-weight: 700;
    line-height: 20px;
    background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    text-align: center;
    width: 100%;
    max-width: 116px;
    height: 40px;
    padding: 10px;
    color: #1d1f21;
  }
}

.block-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: left;
}

@media (max-width: 1220px) {
  .orders {
    &__header {
      display: none;
    }
  }
  .item-order {
    grid-template-columns: 1fr 100px 2fr 0.7fr;
    padding: 10px;
    &__header {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: left;
      padding: 0 0 0 35px;
      &-title {
        text-align: left;
        padding: 0;
      }
      &-color {
        position: relative;
        left: 0;
        top: calc(50% - 16px);
      }
      &-mail {
        margin: 0;
      }
    }
    &__size {
      text-align: center;
    }
    &__info {
      display: flex;
      & .info-title {
        display: block;
      }
    }
    &__button-wrap {
      padding: 0;
    }
  }
}

@media (max-width: 991px) {
  .table-body {
    padding: 30px 15px 40px !important;
  }

  .table-item {
    background: #2c2f33;
  }

  .orders {
    &__title {
      display: block;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 9px 10px;
    }
  }

  .item-order {
    padding: 19px 19px 17px 18px !important;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    &__header {
      padding: 0 0 17px 46px;
      position: relative;
      width: 100%;
      border-bottom: 1px solid rgba(228, 228, 228, 0.05);
      &-mail {
        font-size: 13.7px;
      }
      &-color {
        top: calc(50% - 26px);
      }
    }
    &__size {
      display: flex;
      justify-content: space-between;
      line-height: 21px;
      font-size: 14px;
      display: flex;
      padding: 11px 0 15px;
      border-bottom: 1px solid rgba(228, 228, 228, 0.05);
      &::before {
        content: "Size";
        display: block;
        line-height: 15px;
        font-weight: 400;
      }
    }
    &__info {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 12px 0 17px;
      gap: 26px;
      & .info-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        margin: 0 0 7px;
      }
      & .info-text {
        font-size: 14px;
        line-height: 18px;
      }
      & .more-link {
        display: none;
      }
    }
    &__btn {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .table-body {
    padding: 83px 15px 40px !important;
    background: #1d1f21;
  }
}
.orange {
  background: #eb8032;
}

@media (max-width: 280px) {
  .table-item {
    max-width: 90vw;
    display: block;
  }

  .item-order__header {
    padding: 0 0 17px 0px;
  }
}
