.product {
  margin-bottom: 48px;
  &__row {
    display: flex;
    align-items: start;
  }
  &__image-wrap {
    width: 100%;
    max-width: 538px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 32px 0 0;
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__body {
    max-width: 477px;
    padding: 9px 0 0;
  }
  &__title {
    margin-bottom: 2px;
  }
  &__text {
    margin-bottom: 28px;
  }
  &__text-wrap {
    margin-bottom: 24px;
  }
  &__buy {
    background: #212426;
    border-radius: 12px;
    padding: 12px 16px 27px;
  }
  &__buy-head {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 0 1px 16.5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__buy-footer {
    padding: 22.5px 7px 0 2px;
    font-size: 15px;
    line-height: 24px;
    color: #c8d2dc;
  }
  &__price {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
  }
  &__btn {
    font-size: 18px;
    line-height: 26px;
    padding: 18px 20px 19px;
    width: 100%;
    max-width: 209px;
    gap: 11px;
  }
  &__btn-icon {
    width: 18px;
    height: 18px;
  }
}

.product-content {
  margin-bottom: 87px;
  &__item {
    background: url('../img/auctin/product-content.png') 0 0 / cover no-repeat;
    max-width: 1045px;
    height: 590px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 0 0;
    position: relative;
  }
  &__unlocked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
    border-radius: 12px;
    background: url('../img/product__video.jpg') 0 0 / cover no-repeat;
    display: none;
    align-items: flex-end;
    &._active {
      display: flex;
      pointer-events: auto;
    }
  }
  &__prem-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(29, 31, 33, 0.8);
    backdrop-filter: blur(13.5px);
    border-radius: 12px;
    padding: 8px 10px 8px 12px;
    margin: 12px 16px 12px;
  }
  &__user {
    display: flex;
    align-items: center;
  }
  &__ava {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin: 0 14px 0 0;
  }

  &__name {
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
  }
  &__label {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    position: relative;
    &::before {
      content: url('../img/icons/crown-gradient.svg');
      position: absolute;
      left: -25px;
      top: 2px;
      width: 18px;
      height: 18px;
    }
  }
  &__date {
    font-size: 15px;
    line-height: 24px;
    color: #c8d2dc;
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b2b1ff;
    border-radius: 100%;
    padding: 0 0 0 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 10px #000;
    }
    img {
      width: 24px;
      height: 26px;
    }
  }
  &__item-info {
    transition: all 0.3s;
    flex-direction: column;
  }
  &__item-subtitle {
    margin-bottom: 6px;
  }
  &__item-title {
    font-size: 26px;
    line-height: 34px;
    margin: 0 0 18px 0;
    img {
      margin: -3px 7px 0 0;
      width: 40px;
      height: 40px;
    }
  }
  &__item-btn {
    width: 134px;
    height: 64px;
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 0 10px;
  }
  &__subtitle {
    margin-bottom: 24px;
  }
  &__title-icon {
    margin: 0 5px 0 0;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 767px) {
  .product {
    margin-bottom: 18px;
    &__row {
      flex-direction: column;
    }
    &__image-wrap {
      margin: 0 auto 20px;
      max-width: 375px;
    }
    &__image {
      aspect-ratio: 1/1;
    }
    &__body {
      padding: 0;
      max-width: 100%;
    }
    &__text {
      margin-bottom: 26px;
    }
    &__price {
      font-size: 22px;
      line-height: 34px;
    }
    &__buy {
      padding: 16px 18px;
    }
    &__buy-head {
      flex-wrap: wrap;
      gap: 20px;
      padding: 0 0 18px;
    }
    &__buy-footer {
      padding: 18px 0 0;
      font-size: 12px;
      line-height: 20px;
    }
    &__btn {
      max-width: 160px;
      font-size: 15px;
      line-height: 26px;
      padding: 13px 15px 12px;
    }
    &__btn-icon {
      width: 13.5px;
      height: 13.5px;
    }
  }

  .product-content {
    margin-bottom: 9px;
    &__item {
      min-height: 194px;
      height: auto;
      padding: 6px 0 0 0;
    }
    &__subtitle {
      margin-bottom: 20px;
    }

    &__title-icon {
      margin: 4px 6px 0 0;
      width: 18px;
      height: 18px;
    }
    &__item-title {
      font-size: 22px;
      line-height: 34px;
      margin: 0 0 14px 0;
      img {
        margin: 3px 7px 0 0;
        width: 24px;
        height: 24px;
      }
    }
    &__item-subtitle {
      margin-bottom: 2px;
    }
    &__item-btn {
      height: 52px;
      font-size: 15px;
      line-height: 26px;
      padding: 5px;
    }
    &__label {
      display: none;
    }
    &__date {
      font-size: 12px;
      line-height: 20px;
    }
    &__play {
      width: 32.5px;
      height: 32.5px;
      padding: 1px 0 0 3px;
      img {
        width: 14.6px;
        height: 16px;
      }
    }
  }
}

@media (max-width: 374px) {
  .product {
    &__buy-head {
      flex-direction: column;
      align-items: center;
    }
    &__btn {
      max-width: 100%;
    }
  }
}
