.payment {
  padding: 34px 0 56px;
}
.payment__row {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.payment__title {
  margin-bottom: 21px;
}
.payment__title span {
  background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.payment__form .form__wrapper {
  margin: 0;
}
.payment__tabs {
  list-style: none;
  position: relative;
  background: #212426;
  border-radius: 12px;
  display: flex;
  align-items: center;
  max-width: 410px;
  margin-bottom: 21px;
  padding: 0 8px;
}
.payment__tab {
  width: 33.3333333333%;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  padding: 21px 10px;
  position: relative;
  z-index: 1;
}
.payment__tab._active {
  font-weight: 700;
  color: #1d1f21;
}
.payment__indicator-wrap {
  position: absolute;
  top: 50%;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 14px);
  transform: translateY(-50%);
}
.payment__indicator {
  position: absolute;
  width: 33.3333333333%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.payment__form-body {
  display: none;
}
.payment__form-body._active {
  display: block;
}

.pay-info {
  background: #212426;
  border-radius: 12px;
  max-width: 350px;
  padding: 20px 15px 28px 21px;
  margin: 18px 0 0 30px;
}
.pay-info__title {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 18px;
}
.pay-info__cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 24px 0;
  border-bottom: 1px solid #525960;
  margin-bottom: 10px;
}
.pay-info__price-title, .pay-info__block-title {
  font-size: 14px;
  line-height: 26px;
}
.pay-info__block-title {
  margin-bottom: 10px;
}
.pay-info__price-value {
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
}
.pay-info__bid {
  background: rgba(197, 255, 152, 0.1);
  border-radius: 11px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #c5ff98;
  padding: 7px 19px 8px;
}
.pay-info__list {
  display: flex;
  margin-bottom: 19px;
}
.pay-info__item {
  font-size: 16px;
  line-height: 28px;
  border-right: 1px solid #525960;
}
.pay-info__item:last-child {
  border: 0;
  padding: 0 0 0 21px;
}
.pay-info__item:first-child {
  white-space: nowrap;
  padding: 0 21px 0 0;
}
.pay-info__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}
.pay-info__text:last-child {
  margin-bottom: 0;
}

@media (max-width: 1220px) {
  .payment {
    padding: 98px 0 48px;
  }
}
@media (max-width: 767px) {
  .payment__row {
    flex-direction: column;
  }
  .payment__form {
    width: 100%;
    margin-bottom: 33px;
  }
  .payment__form .form__wrapper {
    max-width: 100%;
  }
  .payment__form .form__input-wrap {
    width: 100%;
  }
  .payment__tabs {
    max-width: 100%;
  }
  .payment__tab {
    padding: 20px 10px 21px;
    font-size: 14px;
    line-height: 21px;
  }
  .pay-info {
    max-width: 100%;
    margin: 0;
    padding: 20px 12px 28px 19px;
  }
}/*# sourceMappingURL=registration.css.map */