.tarifItem {
  border-radius: 12px;
  width: fit-content;
  background: $frames;
  cursor: pointer;
  &.active {
    margin-top: -40px;

    // border: 3px solid transparent;
    padding: 3px;

    background: -moz-linear-gradient(
      90deg,
      rgba(104, 201, 255, 1) 0%,
      rgba(209, 181, 255, 1) 70%
    );
    background: linear-gradient(
      90deg,
      rgba(104, 201, 255, 1) 0%,
      rgba(209, 181, 255, 1) 70%
    );

    .tarifItem {
      &__termBanner {
        // max-width: 275px;
        max-width: 94%;
        &_termin {
          color: $Text;
        }

        &_text {
          color: $Text;
          margin-top: -3px;
        }
      }

      &__image {
        top: 5%;
        left: 8%;
      }
    }
  }

  &__wrapper {
    background: $frames;
    border-radius: inherit;
    padding: 13px 30px 32px 27px;
    position: relative;
    max-width: 350px;
    box-sizing: border-box;
  }

  &__term {
    font-family: "Proxima Nova", sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    text-align: center;
    opacity: 0.2;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $Text;
  }

  &__image {
    position: absolute;
    top: 8%;
    left: 7%;
    z-index: 0;
    width: auto;
    height: auto;
  }

  &__termBanner {
    margin: 44px 0px 27px 0px;
    padding: 14px 0px 13px 25px;
    border-radius: 8px 0px 0px 8px;
    // max-width: 273px;
    max-width: 93.3%;
    box-sizing: border-box;

    z-index: 2;
    position: relative;
    right: -50px;

    background: -moz-linear-gradient(
      90deg,
      rgba(104, 201, 255, 1) 0%,
      rgba(209, 181, 255, 1) 70%
    );
    background: linear-gradient(
      90deg,
      rgba(104, 201, 255, 1) 0%,
      rgba(209, 181, 255, 1) 70%
    );

    &_termin {
      font-family: "Proxima Nova", sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: 128.846%;
      margin: 0px;
      color: #1d1f21;
    }

    &_text {
      font-family: "Proxima Nova", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #1d1f21;
      margin: 0px;
    }
  }

  &__list {
    list-style: none;
    margin: 0px;
    margin-top: 28px;
    padding: 0px;
  }

  &__text {
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: $Secondary;
    margin: 0px;
  }

  &__benefit {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 10px 27px 9px 0px;

    border-bottom: 1px solid $stroke;
    &:first-child {
      padding-top: 0px;
    }
    &:last-child {
      padding-bottom: 0px;
      border: none;
    }
  }

  &__priceContainer {
    padding: 14px 37px 18px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      padding: 14px 50px;
      &__text {
        font-size: 18px;
        line-height: 147.222%;
      }

      &.active {
        .button__text {
          -webkit-text-fill-color: unset;
        }
      }
    }
  }

  &__price {
    font-family: "Proxima Nova", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 152.273%;
    color: $Text;
  }
}

@media screen and (max-width: 1200px) {
  .tarifItem {
    &.active {
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .tarifItem {
    width: auto;
    &__wrapper {
      padding: 6px 30px 32px 25px;
      max-width: 100%;
    }
    &__termBanner {
      max-width: 95% !important;
      right: -46px;
    }

    &__priceContainer {
      padding: 14px 32px 18px 26px;
      flex-wrap: wrap;
      gap: 10px;
    }

    &__benefit {
      padding: 10px 10px 9px 0px;
      gap: 15px;
    }
  }
}

@media screen and (max-width: 365px) {
  .tarifItem {
    &__term {
      // font-size: 65px;
      @include font-size(135px);
    }
    &__priceContainer {
      justify-content: center;
    }

    &__termBanner {
      max-width: 99.5% !important;
      right: auto;
      left: 9.3vw;
    }
  }
}

@media screen and (max-width: 350px) {
  .tarifItem {
    &__termBanner {
      max-width: 100% !important;
      padding: 14px 10px 13px 25px;
    }
  }
}

@media screen and (max-width: 330px) {
  .tarifItem {
    &__wrapper {
      padding: 6px 29px 32px 25px;
    }

    &__termBanner {
      &_termin {
        font-size: 22px;
        line-height: 21px;
      }
      &_text {
        font-size: 12px;
        line-height: 13px;
      }
    }

    &__benefit {
      padding: 10px 0px 10px 0px;
    }

    &__text {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 306px) {
  .tarifItem {
    &__termBanner {
      padding: 14px 10px 13px 10px;
      left: auto;
      right: -29px;

      gap: 8px;
      display: grid;
    }
  }
}

@media screen and (max-width: 280px) {
  .tarifItem {
    &__wrapper {
      padding: 6px 5px 32px 5px;
    }

    &__benefit {
      gap: 5px;
    }
    &__termBanner {
      right: -5px;
    }
  }
}

@media screen and (max-width: 250px) {
  .tarifItem {
    &__term {
      font-size: 45px;
    }

    .button {
      width: -webkit-fill-available;
      padding: 10px 0px;
    }
  }
}
