.workers {
  &__header,
  &__item {
    grid-template-columns: 2fr 2.2fr 0.7fr;
  }
  &__item-title {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    gap: 20px;
    & .item-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      padding: 0 0 0 15px;
    }
    & .item-mail {
      font-weight: 600;
      line-height: 21px;
    }
  }
  &__item-comment {
    & .item-comment {
      line-height: 21px;
      max-width: 95%;
    }
    & .item-link {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: #86a8ff;
    }
  }
}

.statistic {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 0 16px !important;
  gap: 30px;
  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  &__item {
    background: #1d1f21;
    border-radius: 12px;
    padding: 32px 30px 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .value {
      font-weight: 700;
      font-size: 36px;
      line-height: 50px;
    }
    & .text {
      font-weight: 400;
      line-height: 21px;
    }
    &_draw {
      padding: 20px 30px 19px;
      background: url("../img/admin/worker_img-bg.png") 100% 100% no-repeat,
        #1d1f21;
      & .value {
        font-size: 26px;
        line-height: 34px;
      }
      & .text {
        line-height: 21px;
        margin: 0 0 5px;
      }
    }
  }
  &__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    max-width: 116px;
    padding: 10px 27px;
    border-radius: 8px;
  }
}

@media (max-width: 1220px) {
  .workers {
    &__item {
      grid-template-columns: 2.7fr 3fr 1fr;
    }
    &__item-title {
      grid-template-columns: 0.9fr 1fr;
    }
  }

  .statistic {
    gap: 15px;
    &__block {
      gap: 15px;
    }
    &__item {
      padding: 21px 23px !important;
      text-align: center;
      & .value {
        font-size: 26px;
        line-height: 34px;
      }
      &_draw {
        text-align: left;
      }
    }
  }
}

@media (max-width: 991px) {
  .workers {
    &__item {
      grid-template-columns: 1fr;
    }
    &__item-title {
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      border-bottom: 1px solid rgba(228, 228, 228, 0.05);
      padding: 0 0 15px;
      & .item-title {
        padding: 0;
      }
    }
    &__item-comment {
      padding: 15px 0 19px;
    }
  }
}

@media (max-width: 767px) {
  .statistic {
    grid-template-columns: 1fr;
    &__block {
      gap: 11px;
    }
    &__item {
      padding: 9px 10px 8px;
      background: #212426;
      & .value {
        font-size: 16px;
        line-height: 18px;
        margin: 0 0 5px;
      }
      & .text {
        font-size: 12px;
        line-height: 14px;
      }
      &_draw {
        background: linear-gradient(
            94.78deg,
            rgba(104, 201, 255, 0.1) 9.27%,
            rgba(209, 181, 255, 0.1) 84.06%
          ),
          url("..img/admin/worker_img-bg_m.png") 100% 100% no-repeat;
        padding: 21px 23px;
        & .value {
          font-size: 26px;
          line-height: 34px;
          margin: 0;
        }
        & .text {
          font-size: 14px;
          line-height: 21px;
          margin: 0 0 10px;
        }
      }
    }
  }
}
// .orders__header {
//   display: grid;
//   grid-template-columns: minmax(342px, 2fr) minmax(100px, 1fr) minmax(432px, 2fr) minmax(50px, 2fr) minmax(130px, 39px);
//   gap: 15px;
//   padding: 0 5px;
//   margin: 0 0 20px 0;
// }
// .item-order__button-wrap {
//   display: flex;
//   padding: 0 15px 0 0;
// }
// .item__order {
//   display: grid;
//   grid-template-columns: minmax(342px, 2fr) minmax(100px, 1fr) minmax(432px, 2fr) minmax(50px, 2fr) minmax(130px, 39px);
//   align-items: center;
//   justify-content: space-between;
//   gap: 29px;
// }
