html,
body {
  font-family: 'ProximaNova';
  background: #1d1f21;
  color: #fcffff;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
ul li {
  list-style: none;
}
.wrapper {
  margin: 0 auto;
  max-width: 2560px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.forum {
  background: url('@img/blog/forum_bg.jpg') 0 0/100% 100% no-repeat;
  padding: 51px 0 182px;
  &__title {
    margin: 0 0 6px 2px;
  }
  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
  }
  &__icon {
    width: 28px;
    height: 28px;
    margin: 0 6px 0 0;
  }
}

.forum-body {
  background: #1d1f21;
  &__slider {
    transform: translateY(-160px);
    margin: 0 0 -103px;
  }
}

.slide-forum,
.questions__input,
.item-blog,
.asking,
.forum-stat {
  background: #212426;
  border-radius: 12px;
}
//////
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-pointer-events {
  touch-action: pan-y;
  &.swiper-vertical {
    touch-action: pan-x;
  }
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-autoheight {
  &,
  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
/////
.slide-forum {
  overflow: hidden;
  max-width: 350px;
  &__image-wrap {
    width: 100%;
    position: relative;
  }
  &__image,
  &__avatar {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__image {
    aspect-ratio: 350/175;
  }
  &__avatar-wrap {
    border-radius: 100%;
    width: 92px;
    height: 92px;
    overflow: hidden;
    position: absolute;
    left: 21px;
    bottom: 0;
    transform: translateY(50%);
  }
  &__avatar {
    aspect-ratio: 1/1;
  }
  &__body {
    padding: 16px 22px 22px 28px;
  }
  &__date,
  &__name {
    font-family: 'Manrope';
    line-height: 19px;
    color: #c8d2dc;
  }
  &__date {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 24px;
    span {
      margin: 0 1px;
      display: block;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    &.mb16 {
      margin-bottom: 16px;
    }
  }
  &__btn {
    width: 100%;
    max-width: 153px;
    padding: 10px 15px;
    border-radius: 10px;
  }
  &__btn-answer {
    color: #c5ff98;
    line-height: 20px;
    font-weight: 700;
    padding: 10px;
  }
  &__answer-icon {
    margin: 0 8px 0 0;
    width: 20px;
    height: 20px;
  }
}
//
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  border-radius: 16px;
  &_light {
    background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    color: #1d1f21;
  }
  &_dark span,
  &_black span {
    background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &_dark {
    background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
  }
  &_black {
    background: #1d1f21;
  }
  &:hover {
    box-shadow: 0 0 5px #fff;
  }
}
//
.blog {
  background: #1d1f21;
  margin-bottom: 39px;
  & .container {
    max-width: 1171px;
    padding: 0 15px 0 30px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__body {
    width: 100%;
    max-width: 730px;
  }
  &__forms {
    width: 100%;
    max-width: 365px;
  }

  &__search-wrap {
    position: relative;
    margin-bottom: 16px;
  }
  &__input {
    font-family: 'Manrope';
    display: block;
    width: 100%;
    border: 1px solid #525960;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 8px 11px 8px 60px;
    color: #c8d2dc;
    line-height: 19px;

    transition: all 0.2s;
    &::placeholder {
      line-height: 19px;
      color: #c8d2dc;
      color: #c8d2dc;
    }
    &:hover {
      box-shadow: 0 0 5px #525960;
    }
    &:focus {
      border-color: #989fff;
    }
  }
  &__search-icon,
  &__search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__search-icon {
    left: 23px;
    width: 24px;
    height: 24px;
  }
  &__search-btn {
    // right: 12px;
    right: -55px;
    padding: 14px 22px;
    border-radius: 12px;
  }
}

.item-blog {
  position: relative;
  padding: 29px 39px 30px 111px;
  margin: 0px 0 17px 0;
  &:last-child {
    margin: 0;
  }
  &__avatar-wrap {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 54px;
    top: 30px;
    bottom: auto;
    transform: translate(0);
  }
  &__avatar {
    aspect-ratio: 1/1;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 11px;
  }
  &__date {
    margin: 0;
    transform: translateY(9px);
  }
  &__text {
    margin-bottom: 16px;
  }
  &__nav {
    position: absolute;
    top: 19px;
    left: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    line-height: 19px;
  }
  &__up,
  &__down {
    width: 16px;
    height: 20px;
  }
  &__answers {
    padding: 0 0 0 18px;
    margin-bottom: 31px;
    border-left: 1px solid #525960;
    & .slide-forum__name {
      margin-bottom: 6px;
    }
  }
  &__answer {
    max-width: 522px;
  }
  &__input {
    font-family: 'ProximaNova';
    border: 0;
    background: #2c2f33;
    border-radius: 9px;
    padding: 21px 100px 22px 32px;
    font-size: 16px;
    line-height: 21px;
  }
  & .blog__search-btn {
    width: 88px;
    right: 8px;
  }
}
.blog__input {
  background: #212426;
  border-radius: 12px;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
