<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul class="breadcrumb__list">
        <li><a class="breadcrumb__link" href="@@startLink">@@startText</a></li>

        <li class="breadcrumb__middle @@show">
            <div class="breadcrumb__arrow_wrap">
                <img class="breadcrumb__arrow" src="@img/down-arrow.svg" alt="right arrow">
            </div>
            <!-- <li> -->
            <a class="breadcrumb__link" href="@@prevLink">@@prevText</a>
            <!-- </li> -->
        </li>

        <div class="breadcrumb__arrow_wrap">
            <img class="breadcrumb__arrow" src="@img/down-arrow.svg" alt="right arrow">
        </div>
        <li><a class="breadcrumb__link" href="#">@@current</a></li>

    </ul>
</nav>