<section class="contacts">
    <div class="contacts__decoration">
        <picture>
            <source srcset="@img/decoration/decoration-box.webp" type="image/webp">
            <img class="contacts__decoration_box" src="@img/decoration/decoration-box.png" alt="box" width="600px"
                height="600px">
        </picture>

        <picture>
            <source srcset="@img/jewelry/jewelry_4.webp" type="image/webp">
            <img class="contacts__decoration_jewelry-first" src="@img/jewelry/jewelry_4.png" alt="jewelry" width="350px"
                height="380px">
        </picture>

        <picture>
            <source srcset="@img/jewelry/jewelry_5.webp" type="image/webp">
            <img class="contacts__decoration_jewelry-second" src="@img/jewelry/jewelry_5.png" alt="jewelry"
                width="230px" height="230px">
        </picture>

        <picture>
            <source srcset="@img/jewelry/jewelry_5_2.webp" type="image/webp">
            <img class="contacts__decoration_jewelry-third" src="@img/jewelry/jewelry_5_2.png" alt="jewelry"
                width="170px" height="170px">
        </picture>


    </div>
    <div class="contacts__wrapper">
        <p class="small-title">CONTACT ME</p>
        <h2 class="section-title">Want to apply your work or an question appeared? </h2>
        <form action="" class="contacts__form">
            <div class="input-container">
                <label class="input-container__lable" for="Name">Name</label>
                <input class="input-container__input" type="text" name="Name" id="Name" placeholder="Your name">
            </div>
            <div class="input-container">
                <label class="input-container__lable" for="Email">Mail</label>
                <input class="input-container__input" type="email" name="Email" id="Email" placeholder="Your mail">
            </div>

            <div class="input-container">
                <label class="input-container__lable" for="Question">Your question</label>
                <textarea class="input-container__input input-container__textarea" name="Question" id="Question"
                    cols="30" rows="7" placeholder="Your question"></textarea>
            </div>

            @@include('button.html',{
            class:"active",
            text:"Send message",
            })


            <div class="contacts__agree">
                <label class="contacts__checkbox">
                    <input type="checkbox" id="agree" name="agree">
                    <span class="checkmark"></span>
                </label>
                <div class="contacts__agree_text input-container__lable">
                    <span>I agree with </span>
                    <a class="input-container__link" href="#">Privacy Policy</a>
                    <span> and </span>
                    <a class="input-container__link" href="#">Terms of use</a>
                </div>
            </div>
        </form>
    </div>
</section>