<section class="gallery @@class">
    <ul class="gallery__list">
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"wide noPremium",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture or NFT",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"noPremium",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"wide",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture or NFT",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"noPremium",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture",
            })
        </li>
        <li class="gallery__item">
            @@include('gallery-Item.html',{
            class:"",
            image:"@img/gallery/galleryItem.jpg",
            text:"Title of picture",
            })
        </li>
    </ul>
</section>