<ul class="socialsLinks">
    <li class="socialsLinks__item">
        <a class="socialsLinks__link" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
            <img src="@img/socials/inst.svg" alt="instagram icon" width="24px" height="24px">
        </a>
    </li>
    <li class="socialsLinks__item">
        <a class="socialsLinks__link" href="twitter.com" target="_blank" rel="noopener noreferrer">
            <img src="@img/socials/twitter.svg" alt="twitter icon" width="24px" height="24px">
        </a>
    </li>

    <li class="socialsLinks__item">
        <a class="socialsLinks__link" href="https://web.telegram.org" target="_blank" rel="noopener noreferrer">
            <img src="@img/socials/telegram.svg" alt="telegram icon" width="24px" height="24px">
        </a>
    </li>

    <li class="socialsLinks__item">
        <a class="socialsLinks__link" href="https://www.pinterest.com" target="_blank" rel="noopener noreferrer">
            <img src="@img/socials/pinterest.svg" alt="pinterest icon" width="24px" height="24px">
        </a>
    </li>
</ul>