html,
body {
  font-family: 'ProximaNova';
  background: #1d1f21;
  color: #fcffff;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a,
a:visited {
  display: block;
  transition: 0.2s all;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  &_big {
    max-width: 1170px;
  }
  //
}
.footer {
  background: #212426;

  &__logo {
    margin: 0 14px 0 0;
    @media (max-width: 767px) {
      order: 1;
      width: 30%;
      margin: 0;
    }
    @media (max-width: 375px) {
      margin-bottom: 10px;
    }
  }
  &__top,
  &__list {
    display: flex;
    align-items: center;
  }
  &__top {
    padding: 11px 15px 12px 0;
    border-bottom: 1px solid rgb(252, 255, 255, 0.05);
  }
  &__list,
  &__soc {
    padding: 6px 0 0;
  }
  &__link {
    color: rgba(200, 210, 220, 0.6);
    margin: 0 30px 0 0;
    font-size: 16px;
    line-height: 21px;
    &:last-child {
      margin: 0;
    }
    &:hover {
      text-shadow: 0 0 1px #fff;
    }
  }
  &__soc {
    flex: 1 1 auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // margin: 0 0 27px 0;
    gap: 18px;
    transform: scale(1);
  }
  &__bottom {
    text-align: center;
    padding: 10px 0 9px;
    font-size: 12px;
    line-height: 20px;
    color: #c8d2dc;
  }
}
