@import "./components/burger";
@import "./components/smallPemiumButton";
.header {
  &__wrapper {
    background: $Main-BG;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    margin-left: 10px;
    margin-right: 34px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 74px;
  }

  &-navigation {
    &__list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 26px;
      margin: 0px;
      padding: 0px;
      height: fit-content;
    }

    &__item {
      &.active {
        background-color: $frames;
        border-radius: 9px;
        padding: 8px 12px;
        box-sizing: border-box;
        .header-navigation__link {
          background: -moz-linear-gradient(
            to bottom right,
            #68c9ff 0%,
            #d1b5ff 80%
          );
          background: linear-gradient(to bottom right, #68c9ff 0%, #d1b5ff 80%);
          -webkit-background-clip: border-box;
          -webkit-text-fill-color: $Main-BG;
          background: -moz-linear-gradient(
            to bottom right,
            #68c9ff 0%,
            #d1b5ff 80%
          );
          background: -moz-linear-gradient(
            to bottom right,
            #68c9ff 0%,
            #d1b5ff 80%
          );
          background: linear-gradient(to bottom right, #68c9ff 0%, #d1b5ff 80%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &__link {
      color: $Secondary;
      font-family: "Manrope", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      margin: 0px;
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 8px;

      &:hover {
        background: -moz-linear-gradient(
          to bottom right,
          #68c9ff 0%,
          #d1b5ff 80%
        );
        background: linear-gradient(to bottom right, #68c9ff 0%, #d1b5ff 80%);
        -webkit-background-clip: border-box;
        -webkit-text-fill-color: $Main-BG;
        background: -moz-linear-gradient(
          to bottom right,
          #68c9ff 0%,
          #d1b5ff 80%
        );
        background: -moz-linear-gradient(
          to bottom right,
          #68c9ff 0%,
          #d1b5ff 80%
        );
        background: linear-gradient(to bottom right, #68c9ff 0%, #d1b5ff 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.small-menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.languageSelect {
  padding: 8px 12px;
  width: 74px;
  height: 35px;
  background: $frames;
  border: none;
  border-radius: 7px;

  color: $Secondary;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;

  // background-image: url("@img/down-arrow.svg");
  // appearance: none;
  // background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  // background-repeat: no-repeat;
  // background-position: right 1rem center;
  // background-size: 1em;
  option {
    background: $frames;
    color: $Secondary;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
  }

  &:after {
    top: 0px !important;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    width: fit-content;
    margin: 0px auto;
    &__wrapper {
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;
      padding: 8px 0px 8px 20px;
    }

    &-navigation {
      order: 3;
      width: 100%;
      &__list {
        justify-content: center;
      }
    }

    &__logo {
      margin: 0px;
    }

    &__buttons {
      margin: 0px;
      flex: 1;
      justify-content: end;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    .header-navigation {
      position: absolute;
    }
    &__wrapper {
      padding: 17px 20px 17px 23px;
      justify-content: space-between;
    }

    &__buttons {
      display: none;
    }

    .smallPemiumButton {
      display: block;
    }

    .burger-button {
      display: grid;
    }

    &-navigation {
      &__list {
        flex-wrap: wrap;
        gap: 10px 15px;
      }
    }
  }
}
