.main-hero {
  position: relative;
  overflow: hidden;
  &__wrapper {
    width: 1114px;
    padding: 79px 0px 43px;
    margin: 0px auto;
  }
  .section__text {
    max-width: 270px;
  }

  &__buttons {
    width: fit-content;
    display: flex;
    gap: 12px;
    margin-top: 40px;
  }

  .button.active.premium {
    padding: 18px 22px;
    .button {
      &__text {
        font-size: 18px;
        line-height: 26.5px;
      }
    }
  }

  .button.main {
    padding: 18px 36px;
    .button {
      &__text {
        font-size: 18px;
        line-height: 26.5px;
      }
    }
  }

  &__first-col {
    margin-top: 61px;
  }

  &__image {
    width: fit-content;
    border-radius: 24px;
    background: url("../img/main-hero-bg.png");
    background-repeat: no-repeat !important;
    background-position: right top !important;
    background-size: contain !important;
    padding-top: 48px;
    max-height: 92% !important;

    &_img {
      border-radius: 24px;
    }
  }

  &__decoration {
    img {
      position: absolute;
      z-index: -1;
    }

    &_text-first {
      margin-top: 15px;
      opacity: 0.2;
      left: -9px;
    }

    &_text-second {
      bottom: 50px;
      left: 33.7%;
      opacity: 0.2;
    }
    &_star {
      left: 51.2%;
      top: 60px;
    }

    &_circle-first {
      left: 52.9%;
      top: 30%;
    }

    &_circle-second {
      right: 11.8%;
      top: 6.5%;
    }

    &_blur {
      top: -50px;
      z-index: -1;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-hero {
    &__wrapper {
      width: auto;
      margin: 0px 15px;
      padding: 58px 0px 43px;
    }

    &__first-col {
      margin: 0px;
    }
    &__image {
      width: auto;
      max-height: 40vw !important;
      justify-content: end;
      display: flex;

      &_img {
        max-height: inherit;
        max-width: fit-content;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .main-hero {
    &__image {
      justify-content: center;
      background-position: center !important;
      background-size: cover !important;
      padding: 0px;
      max-height: 90vw !important;

      &_img {
        margin-top: -30px;
        width: fit-content;
        max-width: fit-content;
        max-height: 347px;
      }
    }

    .section-row {
      gap: 75px;
    }
    &__decoration {
      &_text-second {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main-hero {
    .socialsLinks {
      display: none;
    }

    &__decoration {
      &_text-first {
        left: auto;
        width: 246px;
        margin-top: -18px;
        right: -60px;
      }

      &_star {
        left: 1.5%;
        top: 50%;
      }

      &_circle-first,
      &_circle-second {
        display: none;
      }

      &_blur {
        top: 0px;
        left: auto;
        right: 0px;
        transform: rotate(180deg);
      }
    }

    &__image {
      max-width: 75%;
      padding-left: 50px;
      max-height: 82vw !important;
      &_img {
        max-width: fit-content;
        max-height: 349px;
        margin-top: -43px;
        margin-right: -50px;
      }
    }

    &__buttons {
      margin-top: 23px;
    }

    .button.active.premium {
      padding: 12px 16px;
      .button {
        &__text {
          font-size: 15px;
        }
      }
    }

    .button.main {
      padding: 12px 28px;
      .button {
        &__text {
          font-size: 15px;
        }
      }
    }

    .section__text {
      max-width: 260px;
    }
  }
}

@media screen and (max-width: 370px) {
  .main-hero {
    &__image {
      max-width: 100%;
      &_img {
        max-width: inherit;
        height: auto;
      }
    }

    &__buttons {
      flex-wrap: wrap;
    }

    .section-row {
      gap: 25px;
    }
  }
}

.biography {
  position: relative;
  &__wrapper {
    margin: 75px auto 75px;
    display: flex;
    justify-content: center;
  }

  &__slider {
    max-width: 445px;
  }

  .swiper-slide {
    border-radius: 24px;

    img {
      width: inherit;
    }
  }

  .section-row {
    gap: 60px;
  }

  .section-col {
    &:first-child {
      max-width: 43%;
    }
  }

  &__container {
    margin-top: 12px;
    .section__text {
      margin-top: 17px;
      max-width: 560px;
    }
  }

  &__dates {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 41px;
    display: flex;
    gap: 30px;
  }

  &__date {
    width: fit-content !important;
    max-width: 155px;
    .section__text {
      font-family: "Proxima Nova", sans-serif;
      font-weight: 600;
      max-width: 160px;
      margin: 0px;
      margin-top: 10px;
    }
  }

  &__decoration {
    img {
      position: absolute;
    }
    &_blur {
      top: -100px;
    }

    &_star {
      left: 5.4%;
      top: 21%;
    }

    &_circle {
      left: 7%;
      top: 50%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .biography {
    &__wrapper {
      padding: 0px 15px;
    }
    .section-row {
      justify-content: center;
    }

    .section-col:first-child {
      max-width: 100%;
    }
    .section-col {
      max-width: 100%;
      flex: auto;
    }

    .section__text {
      max-width: initial;
    }

    &__decoration {
      &_star {
        display: none;
      }

      &_circle {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .biography {
    &__wrapper {
      margin: 20px auto 31px;
    }

    .section-row {
      gap: 30px;
    }

    &__slider {
      @include rfs(500px, max-width);
      @include rfs(610px, height);
    }

    .swiper-slide {
      img {
        height: inherit;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .biography {
    &__wrapper {
      padding: 0px;
    }
    .section-row {
      gap: 0px;
    }

    &__top {
      margin-bottom: 20px;
      padding-left: 15px;
    }
    .section__text {
      margin-top: 40px;
      padding: 0px 15px;
    }

    &__slider {
      max-width: 254px;
      height: 326px;
    }

    &__top {
      margin-bottom: 40px;
    }

    &__container {
      .section__text {
        letter-spacing: -0.46px;
      }
    }

    &__dates {
      padding-left: 15px !important;
      margin-top: 32px;

      .section__text {
        padding: 0px;
        margin-top: 10px;
        font-size: 14px;
        padding-right: 17px;
        letter-spacing: 0.08px;
      }
    }

    &__date {
      max-width: 150px;
    }

    &__decoration {
      &_blur {
        left: auto;
        right: 0px;
        transform: rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .biography {
    &__slider {
      max-width: 60vw;
      height: auto;

      .swiper-slide {
        height: 70vh;
      }
    }
  }
}

.premium-banner {
  &__wrapper {
    position: relative;
    // padding: 83px 110px;
    padding: 83px 90px 83px 110px;
    border-radius: 24px;
    background: linear-gradient(
      130deg,
      #6880ff 0%,
      #3ca7f4 55.2%,
      #8c45ff 99.47%
    );

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0px auto;
    margin-bottom: 11px;
    overflow: hidden;
  }

  &__container {
    max-width: 444px;
    display: grid;
    gap: 12px;

    .button {
      width: fit-content;
      padding: 18px 37px;

      &__text {
        font-size: 18px;
        line-height: 26.5px;
      }
    }

    img {
      filter: invert(40%) sepia(141%) saturate(690%) hue-rotate(170deg)
        brightness(440%) contrast(90%);
    }
  }

  &__jewelry {
    &_main {
      top: 10px;
      z-index: 2;
      position: relative;
    }

    &_ellipse {
      position: absolute;
      right: -160px;
      top: -16px;
      z-index: 0;
    }

    &_first {
      position: absolute;
      right: 0px;
      bottom: 0px;
      z-index: 0;
    }

    &_second {
      position: absolute;
      right: 260px;
      top: -20px;
      z-index: 0;
    }
  }
}

@media screen and (max-width: 1200px) {
  .premium-banner {
    &__wrapper {
      max-width: 100%;
      margin: 0px 15px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .premium-banner {
    &__wrapper {
      display: grid;
      gap: 27px;
      justify-content: center;
      padding: 32px 26px 64px;
    }

    &__jewelry {
      display: grid;
      justify-content: center;

      &_ellipse {
        right: auto;
        top: auto;
        bottom: -270px;
      }

      &_first {
        right: -55px;
      }

      &_second {
        right: auto;
        top: auto;
        left: -70px;
        bottom: 0px;
        transform: rotate(45deg);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .premium-banner {
    &__wrapper {
      gap: 18px;
      margin-bottom: 25px;
    }
    &__container {
      max-width: fit-content;
      gap: 0px;
    }

    &__crown {
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
    }

    .section-title {
      margin-bottom: 8px;
    }

    .section__text {
      letter-spacing: -0.4px;
    }

    .button {
      margin-top: 24px;
      padding: 12px 28px;

      &__text {
        font-size: 15px;
        line-height: 26.5px;
      }
    }

    &__jewelry {
      &_main {
        width: 222px;
        height: 161px;
        top: 0px;
        transform: rotate(353deg);
      }

      &_ellipse {
        right: -35px;
        top: auto;
        bottom: -230px;
        width: 415px;
        height: 410px;
      }

      &_first {
        width: 205px;
        height: 125px;
      }

      &_second {
        left: -100px;
        bottom: 10px;
        width: 205px;
        height: 125px;
        transform: rotate(28deg);
      }
    }
  }
}
