.Pricing-top {
  position: relative;
  overflow-x: clip;
  //   overflow-y: visible;
  &__wrapper {
    display: grid;
    text-align: center;
    gap: 16px;
    width: 550px;
    margin: 62px auto 38px;
    z-index: 3;
    position: relative;
  }

  .section__text {
    width: 75%;
    margin: auto;
  }

  &__decoration {
    img {
      position: absolute;
      z-index: 0;
    }

    &_text-first {
      top: 20px;
      left: -35px;
    }

    &_text-second {
      top: 20px;
      right: -25px;
    }

    &_star {
      left: 27%;
      top: -12px;
    }

    &_circle {
      right: 24.5%;
      bottom: 45px;
    }

    &_jewelry-second {
      z-index: 1 !important;
      right: 20%;
      top: -15px;
    }

    &_jewelry-first {
      z-index: 1 !important;
      top: 41%;
      right: -75px;
    }

    &_jewelry-third {
      z-index: 1 !important;
      left: -140px;
      top: 65px;
    }

    &_blur {
      z-index: 0 !important;
      top: -70%;
    }

    &_blur-second {
      z-index: 0 !important;
      right: 0px;
      top: -60%;
      transform: rotate(180deg);
    }
  }
}

@media screen and (max-width: 1000px) {
  .Pricing-top {
    &__decoration {
      &_text-first {
        display: none;
      }

      &_text-second {
        display: none;
      }

      &_star {
        left: auto;
        right: 50px;
      }

      &_jewelry-second {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .Pricing-top {
    &__wrapper {
      width: 100%;
      text-align: left;
      padding-left: 15px;
      margin: 36px 0px 14px;
    }

    .section__text {
      margin: 0px;
    }

    &__decoration {
      &_star {
        right: 10px;
      }

      &_jewelry-third {
        top: -80px;
      }

      &_blur {
        display: none;
      }

      &_blur-second {
        height: 700px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Pricing-top {
    &__wrapper {
      margin: 33px 0px 14px;
    }

    .section__text {
      margin: 0px;
      width: 76%;
    }

    .big-title {
      width: 73%;
      font-size: 36px;
      margin-left: 4px;
      letter-spacing: 0.1px;
    }

    &__decoration {
      &_star {
        right: 0px;
        top: -22px;
      }

      &_circle {
        right: 9%;
        bottom: 0px;
      }

      &_jewelry-first {
        width: 80px;
        height: 80px;
        top: 29%;
        right: -25px;
      }

      &_jewelry-third {
        display: none;
      }

      &_blur-second {
        height: 600px;
      }
    }
  }
}

@media screen and (max-width: 365px) {
  .Pricing-top {
    &__wrapper {
      width: 100%;
      max-width: fit-content;
      gap: 5px;
      padding: 0px 10px;
      margin: 15px 0px 35px;
    }
    .big-title {
      width: 100%;
      max-width: 100%;
      margin: 0px;
      font-size: 27px;
    }

    .section__text {
      max-width: 100%;
      width: 100%;
      font-size: 15px;
    }

    &__decoration {
      &_star {
        top: 5px;
        width: 25px;
        height: 25px;
      }

      &_circle {
        right: 7%;
        bottom: -25px;
      }
    }
  }
}

.Pricing-section {
  &__wrapper {
    margin: 75px auto 50px;
  }

  &__list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 28px;
  }
}

/* Стилі для табів */
.tab-container {
  // display: none;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}

.tab-header {
  margin-bottom: 14px;
  background: $frames;
  border-radius: 12px;
  padding: 7px 8px;
  display: none;
}

.tab-button {
  flex: 1;
  padding: 14px 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: $Text;
}

.tab-button.active {
  border-radius: 12px;
  color: $Main-BG;
  font-weight: 700;
  line-height: 20px;
  background: -moz-linear-gradient(
    90deg,
    rgba(104, 201, 255, 1) 0%,
    rgba(209, 181, 255, 1) 70%
  );
  background: linear-gradient(
    90deg,
    rgba(104, 201, 255, 1) 0%,
    rgba(209, 181, 255, 1) 70%
  );
}

.tab-content {
  display: block;
  width: auto;
}

.tab-content.active {
  display: block;
}

@media screen and (max-width: 1200px) {
  .Pricing-section {
    &__list {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 800px) {
  .Pricing-section {
    &__wrapper {
      margin: 0px 0px 36px;
      padding: 0px 15px;
      .tab-header {
        display: flex;
      }
    }
  }

  .tab-content {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .tab-content {
    width: 100%;
  }

  .tab-button {
    padding: 14px 16px 14px 20px;
    &.active {
      padding: 14px 23px 14px 14px;
    }
  }
}

@media screen and (max-width: 350px) {
  .tab-header {
    .tab-button {
      padding: 13px 0px;
      &.active {
        padding: 13px 0px;
      }
    }
  }
}
