<div class="nft-orders">
  <h1 class="nft-orders__title orders__title">My NFT orders</h1>

  <div class="nft-orders__header">
    <div class="block-title name">Name of product</div>
    <div class="block-title">Crypto</div>
    <div class="nft-orders__item-buy">
      <p class="block-title">Status</p>
      <p class="block-title">Price</p>
    </div>
    <div class="block-title">Date</div>
  </div>
  <ul class="nft-orders__list">
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
    <li class="nft-orders__item table-item">
      <div class="nft-orders__item-title">
        <img loading="lazy" src="@img/admin/nft-icon.jpg" alt="image" />
        <p class="item-title">NFT #9238239</p>
        <div class="nft-orders__item-date _mobile">12, June 14:00</div>
      </div>
      <div class="nft-orders__item-wallet">
        <div class="nft-orders__wallet-wrap">
          <span class="wallet"> EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </span>
          <div class="nft-orders__wallet-icon-wrap">
            <img loading="lazy" src="@img/admin/copy-gradient.svg" alt="copy" class="nft-orders__copy-icon" />
          </div>
        </div>
      </div>
      <div class="nft-orders__item-buy">
        <p class="nft-orders__item-status">Success</p>
        <p class="nft-orders__item-price">$100 322</p>
      </div>
      <div class="nft-orders__item-date _pc">12, June 14:00</div>
    </li>
  </ul>
</div>
