<div class="orders">
  <h1 class="orders__title _stat">Statistic</h1>
  <div class="orders__header">
    <div class="item-order__header">
      <p class="item-order__header-title block-title">Type of item</p>
      <p class="item-order__header-color block-title">Color</p>
      <p class="item-order__header-mail block-title">E-mail</p>
    </div>
    <div class="item-order__size block-title">Size</div>
    <div class="item-order__info">
      <div class="item-order__info-block block-title">Comment</div>
      <div class="item-order__info-block block-title">Delivery address</div>
    </div>
    <div class="item-order__button-wrap block-title">Status</div>
    <div class="item-order__button-wrap block-title">Action</div>
  </div>
  <ul class="orders__list">
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <div class="nft-orders__item-buy">
          <p class="nft-orders__item-status">Success</p>
        </div>
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
  </ul>
</div>
