<div class="orders">
  <h1 class="orders__title _stat">Statistic</h1>
  <div class="orders__stat statistic">
    <div class="statistic__block">
      <div class="statistic__item">
        <p class="value">$10 983,88</p>
        <p class="text">EARNED PER MONTH</p>
      </div>
      <div class="statistic__item">
        <p class="value">109</p>
        <p class="text">FINISHED ORDER PER MONTH</p>
      </div>
    </div>
    <div class="statistic__item statistic__item_draw">
      <p class="value">Withdraw</p>
      <p class="text">Get money to card</p>
      <a href="#" class="statistic__btn btn btn_light">Withdraw</a>
    </div>
  </div>
  <ul class="orders__list">
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
    <li class="orders__item item-order table-item">
      <div class="item-order__header">
        <h2 class="item-order__header-title">T-SHIRT</h2>
        <div class="item-order__header-color">
          <div class="item-order__color orange"></div>
        </div>
        <div class="item-order__header-mail">emailofcustomer@gmail.com</div>
      </div>
      <div class="item-order__size">XL (99-99-99)</div>
      <div class="item-order__info">
        <div class="item-order__info-block">
          <p class="info-title">Comment</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
        <div class="item-order__info-block">
          <p class="info-title">Delivery address</p>
          <p class="info-text">Lorem ipsum dolor sit amet</p>
          <a href="#" class="more-link">Show more</a>
        </div>
      </div>
      <div class="item-order__button-wrap">
        <a href="" class="item-order__btn btn">Message</a>
      </div>
    </li>
  </ul>
</div>
