<div class="workers nft-orders">
	<h1 class="nft-orders__title orders__title">
		My NFT orders
	</h1>

	<div class="workers__header nft-orders__header">
		<div class="workers__item-title nft-orders__item-title">
			<p class="block-title">Name</p>
			<p class="block-title">Mail</p>
		</div> 
		<div class="block-title">
			Comment
		</div>
		<div class="block-title">
			Plan
		</div>
	</div>
	<ul class="workers__list nft-orders__list">
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
		<li class="workers__item nft-orders__item table-item">
			<div class="workers__item-title">
				<p class="item-title">T-SHIRT</p>
				<p class="item-mail">emailofcustomer@gmail.com</p>
			</div> 
			<div class="workers__item-comment">
				<p class="item-comment">
					Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. 
				</p>
				<a href="#" class="item-link">Show more</a>
			</div>
			<div class="workers__buton-wrap">
				<a href="#" class="item-order__btn btn">One month</a>
			</div>
		</li>
	</ul>
</div>